---
import '../styles/reader.scss';
---
<script is:inline src="/ndarray.js"></script>
<script is:inline src="/nifti-reader.js"></script>
<script is:inline src="/local-reader.js"> </script>

<div class="niftireader">
    <canvas id="nifticanvas" class="nifticanvas"  ></canvas>
    <input type="file" id="file" name="files" />
    <div class="controllers">
        <div class="coupeselecter">
            <label for="selecoupe">Sélectionnez un plan</label>
            <div>
                <input type="radio" id="axiale" name="selecoupe" value="axiale" checked>
                 <label for="axiale">Axial</label>
                 <input type="radio" id="sagittale" name="selecoupe" value="sagittale">
                 <label for="sagittale">Sagittal</label>
                 <input type="radio" id="coronale" name="selecoupe" value="coronale">
                 <label for="coronale">Coronal</label>
            </div>
        </div>
        <div class="duoslider">
            <label for="niftislider" id="slider-progress">50%</label>
            <input id="niftislider" class="niftislider" type="range" min="1" max="100" value="50" class="slider" >
        </div>
        <div id="legend"></div>
    </div>
</div>

<script type="text/javascript">
function loadBlob(blob){
    var file = new File([blob], "name");
    handleFileSelect([file],'nifticanvas','niftislider',getCoupe())
}
let currentfiles = [];
function displayCurrentFile(f){
    handleFileSelect([f],'nifticanvas','niftislider',getCoupe());
    currentfiles.push(f)
}
document.getElementById('file').addEventListener('change', (evt)=> {
    let currentfile = evt.target.files[0];
    displayCurrentFile(currentfile);
}, false);

document.getElementById('niftislider').addEventListener("input", (event) => {
  document.getElementById('slider-progress').textContent = event.target.value +"%"
})

updateCurrentCoupe();

function resetLoadedCanvas(){
    resetCanvas('nifticanvas','niftislider');
    currentfiles = [];
}
function getCoupe(){
    let coupe = "axiale";
    if(document.getElementById("sagittale").checked)coupe = "sagittale";
    else if(document.getElementById("coronale").checked)coupe = "coronale";
    return coupe;
}
function updateCurrentCoupe(){
    let coupes = document.getElementsByName("selecoupe");
    for(let selecoupe of coupes){
        selecoupe.addEventListener('change',(evt)=> {
            displayCurrentFile(currentfiles[0]);
        })
    }
}
getCoupe();
</script>