---
import '../styles/reader.scss';

---
<script is:inline src="/nifti-reader.js"></script>
<script is:inline src="/local-reader.js"> </script>

<div class="niftireader">
    <input type="file" id="file" name="files" />
    <canvas id="nifticanvas" class="nifticanvas" width="240" height="240"></canvas><br />
    <input id="niftislider" class="niftislider" type="range" min="1" max="100" value="50" class="slider" >
</div>

<script type="text/javascript">
document.getElementById('file').addEventListener('change', (evt)=> handleFileSelect(evt.target.files,'nifticanvas','niftislider'), false);
</script>