---
import '../styles/connect.scss';
---
<form class="connectform" name="connectform" method="post" onsubmit="connect();return false;">
  <h2>Connexion</h2>
    <input id="username" type="text" placeholder="Identifiant" name="username" required autocomplete="on" autofocus>  
    <input id="password" type="password" placeholder="Mot de passe" name="password" required autocomplete="on">  
    <button id="submitconnect" type="submit">Se connecter</button>   
</form>
<script type="text/javascript">

async function connect(){
  const f = document.forms["connectform"];
  const username = f["username"].value;
  const password = f["password"].value;
  if(username.length >0 && password.length>0){
    document.getElementById('submitconnect').innerText="Connexion..."
    let token = await getToken(username,password);
    if(token.access_token.length>0) {
      localStorage.setItem(SESSION_TOKEN, token.access_token);
      let who = await whoami();
      console.log(who);
      document.getElementById('submitconnect').innerText="Connecté !"
    }
    else console.log("token non stocké car vide !");
  }
}

async function getToken(username,password) {
  const url = ROOT_URL+'account/auth';
  const data = new URLSearchParams({'grant_type': '','username': username,'password': password,'scope': '','client_id': '','client_secret': ''});
  const res = await fetch(url, {method: 'POST',headers: {'Content-Type': 'application/x-www-form-urlencoded','Accept': 'application/json'},body: data}).then(response => response.json())
  return res
}

async function whoami(){
  const url = ROOT_URL+'account/me/';
  const token = localStorage.getItem(SESSION_TOKEN)
 return await fetch(url, {method: 'GET',headers: {'Accept': 'application/json','Authorization': `Bearer ${token}`}}).then(response => response.json())
}
</script>