---
import '../styles/card.scss';

export interface Props {
	title: string;
	body: string;
	href: string;
	id?:string;
}

const { href, title, body,id } = Astro.props;
---

<li class="link-card" id={id}>
	<a class="link" href={href}>
		<h2>
			{title}
		</h2>
		<p>
			{body}
		</p>
	</a>
</li>
