.filedroppers{
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    justify-content: space-around;
    overflow: hidden;
}

.filedropper, .filedropper label {
    flex-grow: 1;
    text-align: center;
}
.filedropper:hover {
    background: linear-gradient(45deg, var(--accent-color),var(--accent-color-light) 60%, white 200%);
    color: white;
}

.filedropper label{
    cursor:pointer;
    display: block;
    font-weight: bold;
}
.filedropper label[state="loaded"]{
    background-image: linear-gradient(120deg, #84fab0 0%, #8fd3f4 100%);
}

.filedropper input{
    display: none;
}

.analyze{
    display: flex;
}
.analyzebuttons {
    display: flex;
    justify-content: end;
    gap: 15px;
}
.analyzebuttons button {
    font-weight: bold;
}

.analysebutton{
    color: black;
    padding: 5px;
    background-color: transparent;
    border: 1px solid rgba(var(--accent), 25%);
    text-decoration: none;
    font-size: medium;
    font-weight: bold;
    border-radius: 5px;
}
.analysebutton:hover{
    cursor: pointer;
}
#download-button:hover {
    color: white;
    background-image: var(--accent-validate);
}
#cancelbutton:hover{
    background-image: var(--accent-cancel);
     background-size: 200%;
}

#introbloc{
    display: flex;
    justify-content: space-between;
    height: 2em;
}