#introbloc{
    display: flex;
    justify-content: space-between;

    button {
        color: black;
        padding: 5px;
        background-color: transparent;
        border: 1px solid rgba(var(--accent), 25%);
        text-decoration: none;
        font-size: medium;
        font-weight: bold;
        border-radius: 5px;
        cursor: pointer;   
    }
    button:hover{
        color: white;
        background-image: var(--accent-validate);
    }
}