---
import '../styles/global.scss';
export interface Props {
	title: string;
	account?;
}

let { title,account } = Astro.props;

title  = "Visual Gliome | "+ Astro.props.title;
---

<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="/consts.js"></script>
		<script is:inline src={account?"/account.js":""}></script>
	</head>
	<body>	
		<slot />
	</body>
</html>
