---
import Layout from '../layouts/Layout.astro';
import LinkCard from '../components/LinkCard.astro';
import BasicConnect from '../components/BasicConnect.astro';

const title = "Home";
---

<Layout title={title} account>
		<h1>Bienvenue sur <span class="text-gradient">Visual Gliome</span></h1>
		<p class="instructions">
			Analysez et visualisez des gliomes facilement et rapidement.
		</p>
		<ul role="list" class="link-card-grid">
			<LinkCard
			href="/analyzer"
			title="Analyseur"
			body="Déposez des fichiers  au format .nii.gz et obtenez une prédiction"
			id="analyzecard"
			/>
			<LinkCard
			href="/reader"
			title="Visionneur"
			body="Visionnez des fichiers .nii.gz"
			/>
			<LinkCard
			href="/about"
			title="À propos"
			body="Informations au sujet de ce projet"
			/>
			<li id="cardconnect" class="cardconnect">
				<BasicConnect></BasicConnect>
			</li>
			<li class="cardaccount" id="cardisconnect" hidden>
					<div>
						<h2>[NAME]</h2>
						<p></p>
					</div>
					<div class="disconnectwrapper">
						<button  onclick="seDeconnecter()">Se déconnecter</button>
					</div>
			</li>
		</ul>
	</Layout>
<script>
	document.addEventListener('connected',async ()=>{
		document.getElementById('cardconnect').hidden = true;
		whoami().then((res)=>{
			if(res.res_status==='success'){
				let who = res;
				let disco = document.getElementById('cardisconnect');
				disco.getElementsByTagName('h2')[0].innerHTML=who.full_name;
				disco.getElementsByTagName('p')[0].innerHTML=who.email;
				disco.hidden=false;
				document.getElementById('analyzecard').setAttribute('class','link-card')
			}
			else {seDeconnecter();}
		})
		.catch(e=>{
			console.log("Hors connexion");
		});
	});
	document.addEventListener('disconnected',()=>{
		document.getElementById('cardconnect').hidden = false;
		document.getElementById('cardisconnect').hidden=true;
		document.getElementById('analyzecard').setAttribute('class','link-card disabled')
	})
	
	if(estConnecte())triggerConnectedEvent();
	else seDeconnecter();
</script>