---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NiftiReader from "../components/NiftiReader.astro";

import '../styles/reader.scss';

const title="Visionneur";
---
<Layout title={title}>
    <Navigation title={title}></Navigation>
    <div class="instructions" id="introbloc">
      <div id="basic-instruction">
        Déposez des fichiers .nii et .nii.gz pour les visualiser.
      </div>
      <button onclick="loadexample()">Charger exemple</button>
    </div>
    <div class="instructions reader">
      <label class="filelabel" for="file" >Sélectionnez un fichier</label>
      <input type="file" id="file" name="files" multiple="multiple" hidden/>
        <NiftiReader></NiftiReader>
    </div>
</Layout>

<script is:inline>

document.getElementById('file').addEventListener('change', async (evt)=> {
    let files = evt.target.files;
    for(let file of files){
        await dropNewFile(file);
    }
    // possibilité de charger 2 fois d'affilée le même fichier
    evt.target.onclick = ()=>{ evt.target.value=null;}
});
  

async function loadLocalFile(name){
    await fetch(name)
    .then( (res) => res.blob())
    .then(async blob=>{
      if(await addNewFile(new File([blob],name))){
        displayFiles();
        displayFileNames();
      }
    }) 
}

async function loadexample(){
   await loadLocalFile('example/BraTS2021_01572_t1.nii.gz');
   await loadLocalFile('example/BraTS2021_01572_t1ce.nii.gz');
   await loadLocalFile('example/BraTS2021_01572_t2.nii.gz');
   await loadLocalFile('example/BraTS2021_01572_seg.nii.gz');
}
</script>