---
import Navigation from "../components/Navigation.astro";
import NiftiReader from "../components/NiftiReader.astro";
import Layout from "../layouts/Layout.astro"

const title="Analyseur";

---

<Layout title={title} >
    <Navigation title={title}></Navigation>
    <p class="instructions">
        C'est ici que se passe l'analyse.
    </p>
   <!-- <NiftiReader></NiftiReader>-->
</Layout>
  <div class="filedropper">
    <span>T1</span>
    <input type="file" name="filelist" onchange="fileSender(this.files,'t1')">
  </div>
  <div class="filedropper">
    <span>T1ce</span>
    <input type="file" name="filelist" onchange="fileSender(this.files,'t1ce')">
  </div>
  <div class="filedropper">
    <span>T2</span>
    <input type="file" name="filelist" onchange="fileSender(this.files,'t2')">
  </div>
  <div class="filedropper">
    <span>Flair</span>
    <input type="file" name="filelist" onchange="fileSender(this.files,'flair')">
  </div>

<script is:inline>
  function fileSender(files,filetype){
    const url = "http://127.0.0.1:8000/";
    const data = new FormData()
    data.append('file', files[0])
  
    fetch('http://127.0.0.1:8000/files/'+filetype, {
      method: 'POST',
      body: data
    })
    .then(response => response.json())
    .then(data => {
      console.log(data)
    })
    .catch(error => {
      console.error(error)
    });
  }
 </script>