---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro"

const title="Analyseur";

---

<Layout title={title} >
    <Navigation title={title}></Navigation>
    <p class="instructions">
        C'est ici que se passe l'analyse.
    </p>
</Layout>