---
import Navigation from "../components/Navigation.astro";
import NiftiReader from "../components/NiftiReader.astro";
import Layout from "../layouts/Layout.astro"

const title="Analyseur";

---

<Layout title={title} >
    <Navigation title={title}></Navigation>
    <p class="instructions">
        C'est ici que se passe l'analyse.
    </p>
    <NiftiReader></NiftiReader>
</Layout>

<script>
    const url = "http://127.0.0.1:8000";
     fetch(url+'/')
   .then((response) => response.json())
   .then((data) => {
     console.log(data)
   });
 </script>