---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const title="Connexion";
---
<Layout title={title}>
    <Navigation title={title}></Navigation>
    <div class="instructions" id="introbloc">
        <div id="basic-instruction">
          C'est ici que l'on se connecte.<br>
        Se connecter permet d'accéder à une IA d'analyse par segmentation détectant les gliomes.
        </div>
        </div>

    <div class="instructions">
        
    </div>
</Layout>