---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';

const title = "Home";
---

<Layout title={title}>
		<h1>Bienvenue sur <span class="text-gradient">Visual Gliome</span></h1>
		<p class="instructions">
			Analysez et visualisez des gliomes facilement et rapidement.
		</p>
		<ul role="list" class="link-card-grid">
			<Card
				href="/analyzer"
				title="Analyseur"
				body="Déposez des fichiers  au format .nii.gz et obtenez une prédiction"
			/>
			<Card
				href="/reader"
				title="Visionneur"
				body="Visionnez des fichiers .nii.gz"
			/>
			<Card
				href="/about"
				title="À propos"
				body="Informations au sujet de ce projet"
			/>
		</ul>
</Layout>

<style>
	
</style>
