---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";

const title="Visionneur";
---
<Layout title={title}>
    <Navigation title={title}></Navigation>
    <p class="instructions">
        C'est ici que l'on visualise les fichiers
    </p>
</Layout>