---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NiftiReader from "../components/NiftiReader.astro";

const title="Visionneur";
---
<Layout title={title}>
    <Navigation title={title}></Navigation>
    <p class="instructions">
        C'est ici que l'on visualise les fichiers
    </p>

    <div class="instructions reader">
        <label class="filelabel" for="file">Sélectionnez un fichier</label>
        <NiftiReader></NiftiReader>
    </div>
</Layout>