---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/Navigation.astro";
import NiftiReader from "../components/NiftiReader.astro";

const title="Visionneur";
---
<Layout title={title}>
    <Navigation title={title}></Navigation>
    <div class="instructions" id="introbloc">
        <div id="basic-instruction">
          C'est ici que se passe l'analyse.
        </div>
        </div>

    <div class="instructions reader">
        <label class="filelabel" for="file">Sélectionnez un fichier</label>
        <NiftiReader></NiftiReader>
    </div>
</Layout>